/*
GLOBALS
*/
$border-radius-progress-bar: 10px;
$padding-button: 6px;
$border-radius-frame: 5px;
$border-radius-button: 3px;
$color-light-black: #313131;
$color-dark-black: #292929;
$color-light-green: #72C39B;
$color-dark-green: #5b9c7c;
$color-light-red: #DE5E5E;
$color-dark-red: #b34c4c;
$color-light-blue: #71B8D7;
$color-dark-blue: #5e9cb6;
$color-light-green-transparent: rgba(114, 195, 129, 20%);
$color-light-red-transparent: rgba(222, 94, 94, 30%);

/*
DEFAULT THEME
*/
$color-theme-light: #d5b241;
$color-theme-dark: #be9f39;
$color-progress-bar-theme-1: rgba(254, 206, 47, 50%);
$color-progress-bar-theme-2: rgba(254, 206, 47, 60%);